* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}
body, .none {
    background-color: rgb(234, 237, 235);
}
.correct {
    background-color: rgb(34, 171, 52);
}

.wrong {
    background-color: rgb(151, 34, 34);
}

header {
    padding: 20px;
    width: 100%;
    background-color:rgb(130, 63, 169);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 36px;
}
header h2:hover {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(130, 63, 169);
    cursor: pointer;
}

header .timer {
    flex-wrap: wrap;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;

}

.intro-container h3 {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.instruction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 30px;
    background-color: rgb(130, 63, 169);
    margin: 30px 0;
    border-radius: 5px;
}

.instruction p {
    width: 100%;
    /* text-align: center; */
    justify-content: center;
    line-height: 1.25;
    color: rgb(255, 255, 255);
}

.instruction ul{
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 15px;
    color:rgb(255, 255, 255);
}

.intro-container .btn {
    margin-top: 30px;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
}

form h3{
    width: 60%;
    text-align: center;
    font-size: 30px;
}
form ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 50px;
}

form ul li {
    padding: 5px 12px;
    position: relative;
    justify-content: space-between;
    background-color: rgb(130, 63, 169);
    border-radius: 4px;
    margin: 10px 5px;
    width: 45%;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    top: -3px;
    box-shadow: 0 3px #333;
}

.quiz .answers .options:hover {
    background-color: rgb(167, 113, 198);
    top: -2px;
    box-shadow: 0 2px #333;
    cursor: pointer;
}

.quiz .answers .options:active {
    box-shadow: 0 0px #333;
    top: 0;
  }

.quiz .solution {
    font-size: 40px;
    color: rgb(255,255,255);
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.score {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px
}

#final-score {
    font-size: 36px;
    color: black;
    width: 100%;
    text-align: center;
}

.score .check-answer {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    font-size: 36px ;
}

.leaderboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.leader-container {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(130, 63, 169);
    margin-top: 30px;
    border-radius: 4px;
}

.leader-title {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    text-decoration: underline;
}

.leader-container .leader-list {
    width: 70%;
    flex-wrap: wrap;
    align-items: top;
    margin-top: 5px;
    padding: 15px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    justify-content: center;

}

.leader-board-list {
    display: flex;
    display: list-item;
    list-style-position: inside;
    flex-wrap: wrap;
    padding: 2px;
    margin: 2px;
    width: 100%;
    justify-content: center;
    color: rgb(0,0,0);
    background-color: rgb(255, 255, 255);
}

.leader-btn-container { 
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
}

.play-again, .home-menu {
    width: 50%;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

@media screen and (max-width: 980px) {
    .intro-container {
        width: 80%;
    }

    .quiz .answers {
        width: 80%;
    }

}

@media screen and (max-width: 575px) {
    
    header h2{
        font-size: 28px;
    }
    .intro-container {
        width: 100%;
    }

    .quiz .answers {
        width: 80%;
    }

    .quiz .answers .options {
        width: 100%;
        flex-wrap: wrap;
        margin: 2px 10px;
    }

}